<h1><%= title %></h1>
<img src="<%= details.Poster %>">
<ul>
    <% for (const [key, value] of Object.entries(details)){ %>
        <% if (key !== 'Poster' && key !== 'Response') { %> 
            <li><%= key %>: <%= value %></li>
        <% } %> 
    <% } %>
</ul>