<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<ul>
    <% Object.entries(idResults).forEach(entry => {%> 
    <%    const [key, value] = entry; %> 
    <li>
        <%= key,%>:
        <%= value %> 
    </li>
    <% }); %> 
</ul>

<form method="POST" action="/faves">
    <input type="text" hidden name="Title" id="Title" value="<%= idResults.Title %> ">
    <input type="text" hidden name="imdbID" id="imdbID" value="<%= idResults.imdbID %> ">
    <input type="submit" value="Fave">
</form>