<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<p>add a favorite here...</p>
<form method="PUT" action="/faves">
  <label for="fave">Favorite:</label>
  <input type="text" name="fave" id="fave">
  <input type="submit">
</form>
