
<p>add a favorite here...</p>
<form method="PUT" action="/faves">
  <label for="fave">Favorite:</label>
  <input type="text" name="fave" id="fave">
  <input type="hidden" id="title">
  <input type="hidden" id="imdbid">
  <input type="submit">
</form>
<%# How are the title and IMDBid extracted from the input? %>
