<h1>Your Favorite Movies:</h1>
<ul>
    <% faves.forEach (fave => { %>
        <li>
            <p><%= fave.data.Title %></p>
            <p><a href="/movies/<%= fave.data.imdbID %>">More Info</a></p>
        </li>
    <% }) %>
</ul>