<form action="/faves" method="GET">
<h1>Faves</h1>
<ul>
    <% allFaves.forEach(faves => { %>
        <li> 
            <a href="/movies/<%= faves.imdbid %>">
                <%=faves.title%></a>
        </li>
    <% }) %> 
</ul>
</form>