<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="get" action="/results">
    <label for="movieInput">Enter Movie Title:</label>
    <input type="text" name="title" id="movieInput">
    <input type="submit">
</form>