<p>Search for a movie below...</p>

<form action="/results" method="GET">
  <input type="text" name="q" id="q">
  <input type="submit" value="Search">
</form>

<% if (error) { %>
<p style="color: red"><%= error %></p>
<% }; %>