<h1>OMDB Movie Search</h1>

<form method="GET" action="/search">
    <label for="titleSearch">Search movies by title:</label>
    <input type="text" name="titleSearch" id="titleSearch">
    <input type="submit">
</form>