<h1>OMDB Movie Search</h1>
<h2>Search for a movie below...</h2>
<form method="GET" action="/results">
<label for="search"></label>
<input id="search" type="text" name="search" placeholder="Search For A Movie" />
<input type="submit" />
</form>
