<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
    <label for="movieTitle">Enter a movie here:</label>
    <input type="text" name="movieSearch" id="movieSearcgh">
    <input type="submit">
</form>