<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>


<div class="search">
    <form action="/results" method="GET">
        <label for="query">Movie Title:</label>
        <input type="text" name="q" id="searchBar">
        <input type="submit" id='submit'>
    </form>
</div>
