<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
    <label for="query">Query</label>
    <input id="query" type="text" name="q" placeholder = "Search here">
    <input type="submit">
  </form>

  <!-- q is the key
user input is the value
these are sent to results
 -->