<h1>OMDB Movie Search</h1>
<h2>Search for a movie below...</h2>
<div class="search">
  <form method="GET" action="/results">
    <label for="query"></label>
    <input id="query" type="text" name="q" placeholder="Search For A Movie" />
    <input id="submit" type="submit" />
  </form>
</div>

<!-- q is the key
user input is the value
these are sent to results
 -->
