<h1 class='siteTitle'>OMDB MOVIE SEARCH</h1>

<div class="searchBar">
    <h3>Search for a movie</h3>
    <form action="/results" method="GET">
        <label for="searchBar">Title:</label>
        <input type="text" name="q" id="searchBar">
        <input type="submit" id='submit'>
    </form>
</div>