<div class='title'><h1>OMDB Movie Search</h1></div>
<div class='title2'><h2>Search for a movie:</h2></div>
<div class="search">
  <form method="GET" action="/results">
    <label for="query"></label>
    <input id="query" type="text" name="q" placeholder="Search For A Movie" />
    <input id="submit" type="submit" />
  </form>
</div>
