<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
  <label for="movieTitle">Title:</label>
  <input type="text" name="movieTitle" id="movieTitle">
  <input type="submit">
</form>
