<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<div class="search">
    <form method='GET' action="/results">
        <label for="query"></label>
        <input id="query" type="text" placeholder="Search for your favorite movies">
        <input id="submit" type="submit">
    </form>
</div>