<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<h3>Search Results</h3>
<ul>
    <% data.forEach((obj) => { %>
        <li>
           <strong><%= obj.Title %></strong> -->
           
           <% let id = obj.imdbID %>
           <a href="/movies/<%=id%>">More Details</a> 
        </li>
        <div>
            <img src="<%= obj.Poster %>" alt="No picture availible">
        </div>
    <% }); %> 
</ul>