<ul>
  <% for( let i = 0; i < movies.length; i++ ) { %>
  <li>
    <a href="/movies/<%= movies[i].imdbID %> ">
      <%= movies[i].Title %> - Released <%= movies[i].Year %>
    </a>
  </li>
  <% } %>
</ul>
