<h1><%= title %></h1>
<ul>
    <% results.forEach (movie => { %>
        <li>
            <p><%= movie.Title %></p>
            <p><a href="/movies/<%= movie.imdbID %>">More Info</a></p>
        </li>
    <% }) %>
</ul>