<h1>Movies from searching</h1>
<ul> 
    <% results.forEach((movie) => { %>
        <div class="titles"><%= movie.Title %></div>
        <li><%=movie.Year%></li>
        <div class="poster">
            <img src="<%= movie.Poster %>"
        </div>


    <% }) %>
</ul>