<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form action="/movies/title" method="GET">
    <label for="title">Search OMDb by Movie Title</label>
    <input type="text" name="title" id="title">
    <input type="submit">
</form>

<ul>
    <!-- Search results will go here -->
</ul>