<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<h3>These are your results!</h3>
<ul>
<% movies.forEach((movie) => { %>
    <li><%= movie %>
    </li>
<% }) %>
</ul>