<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<h3>These are your results!</h3>
<ul>
<% query.forEach((movie) => { %>
    <a href="movies/<%= movie.imdbID %>"><li><%= movie.Title %> : <%= movie.Year %></li></a>
   
<% }) %>
</ul>